.blog__conteiner{
    width: 100%;
    display: flex;
  }
.myClassname{
    object-fit: cover;
    width: 100%;
    min-width: 392px;
    max-height: 963px;
    min-height: 460px;
    height: 963px;
}

.myClassname::-webkit-scrollbar {
    display: none;
}
